In [1]:
import pandas as pd
import csv

In [2]:
#loading the dataset
df = pd.read_csv('C:/Users/colek/baseball_awards.csv')
df.head()

,Year,Name,Tm,Vote Pts,1st Place,Share,WAR,G,AB,R,...,ERA,WHIP,G.1,GS,SV,IP,H.1,HR.1,BB.1,SO
0,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1983,Cal Ripken Jr.,BAL,322.0,15.0,82%,8.2,162.0,663.0,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1983,Eddie Murray,BAL,290.0,10.0,74%,6.7,156.0,582.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1983,Carlton Fisk,CHW,209.0,3.0,53%,4.3,138.0,488.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1983,Jim Rice,BOS,150.0,0.0,38%,5.7,155.0,626.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['Lg'] = None 
df.insert(0, 'Lg', df.pop('Lg')) #move Lg to leftmost side

df['Pos_Int'] = None 
df.insert(0, 'Pos_Int', df.pop('Pos_Int')) #move Lg to leftmost side

df['Pos'] = None 
df.insert(0, 'Pos', df.pop('Pos')) #move Lg to leftmost side

df['LgYear'] = None 
df.insert(0, 'LgYear', df.pop('LgYear')) #move Lg to leftmost side

df['IsMvp_Int'] = None 
df.insert(0, 'IsMvp_Int', df.pop('IsMvp_Int')) #move Rank to leftmost side

df['IsMvp'] = None 
df.insert(0, 'IsMvp', df.pop('IsMvp')) #move Rank to leftmost side

df['Rank'] = None 
df.insert(0, 'Rank', df.pop('Rank')) #move Rank to leftmost side

df.head()

,Rank,IsMvp,IsMvp_Int,LgYear,Pos,Pos_Int,Lg,Year,Name,Tm,...,ERA,WHIP,G.1,GS,SV,IP,H.1,HR.1,BB.1,SO
0,None,None,None,None,None,None,None,1983,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,None,None,None,None,None,1983,Cal Ripken Jr.,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,None,None,None,None,None,None,1983,Eddie Murray,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,None,None,None,None,None,None,1983,Carlton Fisk,CHW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,None,None,None,None,None,None,1983,Jim Rice,BOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rnk = 0
lg = "NL"

for row in df.itertuples(index=True):
    year = row.Year
    name = row.Name
    index = row.Index
    era = row.ERA
    
    if pd.isna(name):
        rnk = 0
    df.at[index, 'Rank'] = rnk
    
    if (rnk == 1):
        df.at[index, 'IsMvp'] = "Yes"
        df.at[index, 'IsMvp_Int'] = 1
    else:
        df.at[index, 'IsMvp'] = "No"
        df.at[index, 'IsMvp_Int'] = 0

    if pd.isna(era):
        df.at[index, 'Pos'] = "Batter"
        df.at[index, 'Pos_Int'] = 1
    else:
        df.at[index, 'Pos'] = "Pitcher"
        df.at[index, 'Pos_Int'] = 0

    if pd.isna(name):
        if (lg == "NL"):
            lg = "AL"
        else:
            lg = "NL"
    df.at[index, 'Lg'] = lg
    df.at[index, 'LgYear'] = lg + str(year)[2:]

    rnk += 1

In [5]:
df.dropna(subset=['Name'], inplace=True)
df.head(30)

,Rank,IsMvp,IsMvp_Int,LgYear,Pos,Pos_Int,Lg,Year,Name,Tm,...,ERA,WHIP,G.1,GS,SV,IP,H.1,HR.1,BB.1,SO
1,1,Yes,1,AL83,Batter,1,AL,1983,Cal Ripken Jr.,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,No,0,AL83,Batter,1,AL,1983,Eddie Murray,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,No,0,AL83,Batter,1,AL,1983,Carlton Fisk,CHW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,No,0,AL83,Batter,1,AL,1983,Jim Rice,BOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,No,0,AL83,Batter,1,AL,1983,Cecil Cooper,MIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,No,0,AL83,Pitcher,0,AL,1983,Dan Quisenberry,KCR,...,1.94,0.928,69.0,0.0,45.0,139.0,118.0,6.0,11.0,48.0
7,7,No,0,AL83,Batter,1,AL,1983,Dave Winfield,NYY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,No,0,AL83,Batter,1,AL,1983,Lou Whitaker,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,No,0,AL83,Batter,1,AL,1983,Lance Parrish,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,No,0,AL83,Batter,1,AL,1983,Harold Baines,CHW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,No,0,AL83,Batter,1,AL,1983,Willie Upshaw,TOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,No,0,AL83,Batter,1,AL,1983,Wade Boggs,BOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,No,0,AL83,Pitcher,0,AL,1983,LaMarr Hoyt,CHW,...,3.66,1.024,36.0,36.0,0.0,260.2,236.0,27.0,31.0,148.0
14,14,No,0,AL83,Batter,1,AL,1983,Lloyd Moseby,TOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,No,0,AL83,Pitcher,0,AL,1983,Bob Stanley,BOS,...,2.85,1.259,64.0,0.0,33.0,145.1,145.0,7.0,38.0,65.0
16,16,No,0,AL83,Batter,1,AL,1983,Alan Trammell,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,No,0,AL83,Batter,1,AL,1983,Greg Luzinski,CHW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,No,0,AL83,Batter,1,AL,1983,Robin Yount,MIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,No,0,AL83,Batter,1,AL,1983,Ted Simmons,MIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,No,0,AL83,Pitcher,0,AL,1983,Richard Dotson,CHW,...,3.23,1.313,35.0,35.0,0.0,240.0,209.0,19.0,106.0,137.0
21,21,No,0,AL83,Pitcher,0,AL,1983,Ron Guidry,NYY,...,3.42,1.166,31.0,31.0,0.0,250.1,232.0,26.0,60.0,156.0
22,22,No,0,AL83,Batter,1,AL,1983,Rudy Law,CHW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,No,0,AL83,Pitcher,0,AL,1983,Jack Morris,DET,...,3.34,1.158,37.0,37.0,0.0,293.2,257.0,30.0,83.0,232.0
24,24,No,0,AL83,Batter,1,AL,1983,Julio Cruz,TOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,No,0,AL83,Batter,1,AL,1983,Rickey Henderson,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,No,0,AL83,Batter,1,AL,1983,George Wright,TEX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,No,0,AL83,Pitcher,0,AL,1983,Tippy Martinez,BAL,...,2.35,1.094,65.0,0.0,21.0,103.1,76.0,10.0,37.0,81.0
29,1,Yes,1,NL83,Batter,1,NL,1983,Dale Murphy,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2,No,0,NL83,Batter,1,NL,1983,Andre Dawson,MON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,3,No,0,NL83,Batter,1,NL,1983,Mike Schmidt,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_csv('baseball_mvp_cleaned.csv', index=False)